 body {
 background: #fafbfc;
 padding-top: 70px;
 padding-bottom: 70px;}
 * {
 font-family: 'Roboto',sans-serif;}
 a {
 color: #3eb9ce;
 text-decoration: none;}
 a:hover{
 text-decoration: none;}
 .jumbotron.vertical-center {
 background: #15171c;
 color: #fff;
 margin-bottom: 0; }
 .jumbotron.vertical-center p{
font-size: 14px;
font-weight: 400;}
 .jumbotron.vertical-center h1{
 font-size: 40px;}
 .vertical-center {
 min-height: 100%;
 min-height: 100vh;
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex; 
 -webkit-box-align : center;
 -webkit-align-items : center;
 -moz-box-align : center;
 -ms-flex-align : center;
 align-items : center;
 width: 100%;
 -webkit-box-pack : center;
 -moz-box-pack : center;
 -ms-flex-pack : center;
 -webkit-justify-content : center;
 justify-content : center;}
 #loginpage, #signuppage,#grouppage{
 padding: 0px;}
 .imagediv{
 text-align: center;
 top: -20px;}
 .loginlogo {
 width: 80%;}
 .vertical-align {
 margin-top: 40px;
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-box-align : center;
 -webkit-align-items : center;
 -moz-box-align : center;
 -ms-flex-align : center;
 align-items : center; 
 justify-content: center;
 flex-direction: row;}
 @media screen and (max-width: 500px) {
 .vertical-align {
 flex-direction: column;}}
 .logininput, .signupinput {
 width: 80%;
 padding: 8px 5px;
 margin-bottom: 0px;
 border-radius: 5px;
 margin-bottom: 8px;
 border: 1px solid #eee;
 color: #000;}
 #group {
 color: #757575}
 .logininput:focus {
 border: 1px solid #888;
 border-radius: 5px;
 outline: none;}
 .taskpool {
 width: 100%;
 border: 1px solid #ddd;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 margin-bottom: 40px; }
 td, th{
 padding-top: 5px;}
 .taskpool td, .taskpool th {
 padding: 10px;
 border-bottom: 1px solid #ddd;
 text-align: center;}
 .pending {
 background-color: #fdfdfd;
 font-size: 16px;
 /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;*/}
 .pending ul {
 overflow-y: auto;}
 .pending ul , .sample, .add-to-sprint{
 padding-left: 0px;
 list-style-type: none;}
 .pending ul ul li {
 padding-top:10px;
 border-bottom: 1px solid #e6e6ed;}
 .taskpool th {
 background-color: #383950;
 color: #fff;}
 .taskpool tr:nth-child(even) {background-color: #fff}
 .grouplist{
 list-style-type: none;
 background-color: #fff;
 padding-left:0px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;}
 .grouplist li, .prolist
 {
 border-bottom: 1px solid #e6e6ed;
 font-size:16px;}
 .prolist{
 background-color: #223c4c;
 color:#fff;}
 .grouplist li a, .prolist
 {
 padding-top:10px;
 padding-bottom: 10px;
 padding-left: 10px;
 display: block;}
 .grouplist li a:hover{
 color: #223c4c;
 text-decoration: none;}}
 .navbar{
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 font-size: 16px;}
 .noti_circle
 {
 border-radius: 50%;
 width: 22px;
 height: 22px;
 background: #ec555b;
 border: 2px solid #ec555b;
 color: #fff;
 text-align: center;
 font: 16px;
 display: inline-block;}
 .navbar-default{
 border-bottom: 1px solid rgba(0,0,0,0.15)}
 .navbar-default .navbar-nav a
 {
 border-bottom: 4px solid #fff;
 -webkit-transition: border-bottom 0.6s, color 0.6s; /* Safari */
 transition: border-bottom 0.6s, color 0.6s;}
 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
 {
 background-color: #fff;
 border-bottom: 4px solid #3eb9ce;
 color: #3eb9ce;}
 .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
 background-color: #fff;
 border-bottom: 3px solid #3eb9ce;
 color: #3eb9ce;}
 .navbar .glyphicon{
 font-size:18px;
 top:4px;}
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
 background-color: #fff;
 border-bottom: 4px solid #3eb9ce;
 color: #3eb9ce;}
 .prodate{
 padding-right: 10px;}
 #login_brand{
 margin-right:12px;}
 .btn {
 -webkit-border-radius: 1;
 -moz-border-radius: 1;
 border-radius: 1px;
 -webkit-box-shadow: 1px 1px 2px #adaaad;
 -moz-box-shadow: 1px 1px 2px #adaaad;
 box-shadow: 1px 1px 2px #adaaad;
 font-family: Roboto,Arial;
 font-size: 14px;
 text-decoration: none;}
 .btn:hover {
 text-decoration: none;}
 #editbutton, #backbutton, #deletebutton, .monthbuton{
 background-color: #fff;
 border:none;
 box-shadow:none;}
 #editbutton:hover, #backbutton:hover, .monthbutton{
 color:#3eb9ce;
 background-color: #fff;}
 #editbutton:focus, #backbutton:focus, #deletebutton:focus{
 outline: none;
 border: none;}
 .proj-details #deletebutton i, .sprint-details #deletebutton i{
 top: 18px;}
 .proj-details, .sprint-details{
 background:#fff;
 border: 1px solid #ddd;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 padding-bottom: 20px;
 padding-right: 30px;
 padding-left: 30px;
 padding-top: 5px;
 margin-top: 30px;
 border-bottom: 3px solid #383950;}
 #edittable {
 padding-left:10px;
 padding-right: 10px;}
 .whitecard,.whitecarda, .chartcard{
 background:#fff;
 border: 1px solid #ddd;
 box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 padding-bottom: 20px; 
 padding-right: 20px;
 margin-top: 30px;
 padding-left: 20px;
 padding-top: 10px;}
 .proj-details th, .proj-details td, .sprint-details {
 vertical-align: top;}
 .proj-details th, .sprint-details 
 {
 padding-right:10px;}
 #deletebutton{
 color: red;}
 #deletebutton:hover{
 color: #ff6969;
 background-color: #fff;}
 #search-tag-card{
 margin-top:20px;}
 .chartcard{
 margin-bottom: 100px;}
 .btn-tab{
 background-color: #3eb9ce;
 color: #fff;
 border: none;}
 .btn-tab:focus, .btn-tab:active, .btn-tab:hover{
 border: none;
 outline: none;
 box-radius: 2px;
 color: #f2f2f2;}
 .btn {
 border-radius: 2px;} 
 .btn-primary{
 color: #fff;
 background-color: #3eb9ce;
 border-color: #3eb9ce;
 border-width: 30px 45px;
 padding: 5px 45px;
 }
 .btn-danger{
 color: #fff;
 background-color: #ec555b;
 border-color: #ec555b;}
 .btn-success {
 color: #fff;
 background-color: #02b875;
 border-color: #02b875;}
 .btn-success:hover, .btn-success:focus, .btn-success:active,
 .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, 
 .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, 
 .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
 color: #fff;
 background-color: #02a267;
 border-color: #02a267;}
 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, 
 .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, 
 .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover
 {
 background-color: #5dc3d5;
 border-color: #5dc3d5;}
 .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active.focus, .btn-danger.active:focus, 
 .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, 
 .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover
 {
 background-color: #e8797d;
 border-color: #e8797d;}
 .loginbtn {
 width: 80%;
 margin: 0 auto;
 margin-bottom: 8px;
 box-shadow: none;
 border-radius: 5px;}
 .loginbtn:focus, .loginbtn:active, .loginbtn:hover{
 color: #fff;
 background-color: #2f74af;
 outline: 0;}
 .btn-login{
 background-color:#02b875;
 color: #fff;}
 .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success.active, .btn-success:active:focus{
 background-color: #00a86a;
 border-color: #00a86a;
 color: #fff;
 outline: none;}
 .btn-register{
 background-color:#337ab7;
 color: #fff;}
 .btn-register:hover, .btn-register:active, .btn-register:focus, .btn-register.active, .btn-register:active:focus{
 background-color: #216eb1;
 border-color: #216eb1;
 color: #fff;
 outline: none;}
 .btn-fb{
 background-color:#425f9c;
 color: #fff;}
 .btn-fb:hover, .btn-fb:active, .btn-fb:focus, .btn-fb.active, .btn-fb:active:focus{
 background-color: #3b5998;
 border-color: #3b5998;
 color: #fff;
 outline: none;}
 .btn-google{
 background-color:#e15242;
 color: #fff;}
 .btn-google:hover, .btn-google:active, .btn-google:focus, .btn-google.active, .btn-google:active:focus{
 background-color: #cd483a;
 border-color: #cd483a;
 color: #fff;
 outline: none;}
 .nodata{
 color:#ada2a2;
 left: 40%;
 top: 80%;
 text-align: center;}
 .mon, .tue, .wed, .thu, .fri, .sat, .sun, .noday{
 background-color:#fdfdfd;
 -webkit-box-shadow: 1px 1px 2px 0 #B0B0B0;
 box-shadow: 1px 1px 2px 0 #B0B0B0;
 transition: 0.3s;}
 .container .month{
 margin: 0 auto;}
 .project-nav>li>a{
 border: 1px solid rgb(212, 208, 208);
 border-bottom: #dddddd;
 background-color: #fff;}
 .project-nav>li>a:hover{
 border: 1px solid rgb(212, 208, 208);
 border-bottom: #dddddd;
 background-color: #3eb9ce;
 color: #fff;}
 .project-nav>li.active>a, 
 .project-nav>li.active>a:focus, 
 .project-nav>li.active>a:hover
 {
 background-color: #fafbfc;}
 .project-content
 {
 padding-top:0;}
 .add-to-sprint li{
 padding-bottom: 8px;
 font-size: 16px;}
 .filerow {
 margin-top:20px;
 margin-bottom:20px;}
 .filecard a{
 background: #fdfdfd;
 margin-top: 10px;
 margin-bottom: 10px;
 text-align: center;
 padding-top:15px;
 padding-bottom:15px;
 padding-left:10px;
 padding-right:10px;
 box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 1px -2px rgba(0,0,0,0.12), 0 3px 7px 1px rgba(0,0,0,0.2);
 border-bottom: 2px solid #1fe9e1;
 overflow: hidden;
 text-overflow: ellipsis;
 display: block;}
 .searchcard {
 background: #fff;
 /*margin-left: 5px;
 margin-top: 10px;
 margin-bottom: 10px;
 /*text-align: center;
 padding-right:5px;*/
 padding-top:10px;
 padding-bottom:5px;
 padding-left:5px;
 /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);*/
 border-bottom: 1px solid #e6e6ed;
 overflow: hidden;
 text-overflow: ellipsis;
 display: block;}
 .searchcard a{
 font-size:16px;}
 .task-details th, .task-details td {
 padding-top:10px;
 padding-left: 20px;
 font-size: 16px;}
 .taskdetails, .tag{
 padding-left:30px;}
 .commentcontent{
 margin-bottom: 0px;}
 .commentinfo{
 margin-bottom: 0px;
 font-size: 12px;
 padding-bottom: 4px;}
 .commentcard{
 padding: 5px;
 border-bottom: 1px solid #eee; }
 .commentdiv{
 background: #fdfdfd;
 border: 1px solid #eee; 
 border-radius: 4px;
 padding-top: 4px;
 box-shadow: inset 0 1px 1px rgba(0,0,0,.05);}
 .commentdate{
 color: #5d5c5c;}
 .commentname{
 color:#000;}
 .commentbox{
 width: 100%;
 padding: 5px 5px;
 margin: 8px 0;
 margin-bottom: 0px;
 box-sizing: border-box;}
 .tags {
 margin-bottom: 8px; 
 background-color: #6e6d75;
 padding-top: 3px;
 padding-bottom: 3px;
 padding-left: 5px;
 padding-right: 5px;
 border-radius: 3px;
 color: #fff; 
 display: inline-block;}
 .tagbox {
 margin-top: 5px;
 padding: 3px 3px;}
 .searchtag{
 width: 60%;
 margin-bottom: 0px; 
 padding-top: 0px;
 padding-bottom: 0px;}
 .notidiv {
 background: #fff;
 border: 1px solid #eee; 
 border-radius: 6px;
 padding-top: 4px;
 padding: 0px;}
 .notidiv h4{
 padding-left: 15px;}
 .noticard {
 padding:15px;
 border-bottom: 1px solid #eee;}
 .notidivhead {
 padding: 0px;}
 .notiheader {
 margin: 0px;
 font-size: 12px;}
 .notibody{
 margin: 0px;}
 .notiextra{
 padding-left: 5px;}
 .notitime {
 color: #888;}
 .unreadnoti {
 background-color: #e0faff;}
 .taskinput, #id_state, #id_tsprint, #id_assign, .sprintinput, #id_priority{
 width: 100%;}
 /*Task Fields*/
 .taskinput, #id_state, #id_tsprint, #id_assign, #id_due_date_month,#id_due_date_day, #id_due_date_year, #id_priority,
 #id_newtask-state, #id_newtask-tsprint, #id_newtask-assign, #id_newtask-priority,/*Edit Task Fields */
 #id_newtask-due_date_month,#id_newtask-due_date_day, #id_newtask-due_date_year,
 #id_pdeadline_month, #id_pdeadline_day, #id_pdeadline_year
 {
 border: 1px solid #bbb;
 border-radius: 4px;
 padding-left: 5px;
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
 /*Sprint Fields*/
 .sprintinput, #id_start_date_month, #id_start_date_day, #id_start_date_year, /*Add Sprint Field */
 #id_end_date_month, #id_end_date_day, #id_end_date_year{
 border: 1px solid #bbb ;
 border-radius: 4px;
 padding-left: 5px;
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
 /*Project Fields */
 .projectinput {
 width: 80%;
 border: 1px solid #bbb;
 border-radius: 4px;
 padding-left: 5px;
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
 /*Select Fields*/
 #id_state, #id_tsprint, #id_assign, #id_due_date_month,#id_due_date_day, #id_priority, #id_due_date_year, /* Add Task Fields */ 
 #id_newtask-state, #id_newtask-tsprint, #id_newtask-assign, #id_newtask-priority, /*Edit Task Fields */
 #id_newtask-due_date_month,#id_newtask-due_date_day, #id_newtask-due_date_year,
 #id_start_date_month, #id_start_date_day, #id_start_date_year, /*Add Sprint Field */
 #id_end_date_month, #id_end_date_day, #id_end_date_year,
 #id_pdeadline_month, #id_pdeadline_day, #id_pdeadline_year /* Add Project Field*/
 {
 padding-top: 2px;
 padding-bottom: 2px;}
 #id_state:focus, #id_tsprint:focus, #id_assign:focus, #id_due_date_month:focus,#id_due_date_day:focus, #id_priority:focus, #id_due_date_year:focus, /* Add Task Fields */ 
 #id_newtask-state:focus, #id_newtask-tsprint:focus, #id_newtask-assign:focus, #id_newtask-priority:focus, /*Edit Task Fields */
 #id_newtask-due_date_month:focus,#id_newtask-due_date_day:focus, #id_newtask-due_date_year:focus,
 #id_start_date_month:focus, #id_start_date_day:focus, #id_start_date_year:focus, /*Add Sprint Field */
 #id_end_date_month:focus, #id_end_date_day:focus, #id_end_date_year:focus,
 #id_pdeadline_month:focus, #id_pdeadline_day:focus, #id_pdeadline_year:focus /* Add Project Field*/{
 border-color: #66afe9;
 outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
 /* Add Forms */
 .addform td, .addform th, .searchtag {
 padding: 5px;}
 .tasksubmit{
 margin-top: 10px;}
 #id_newtag-tag, .commentbox, .searchtag {
 border-radius: 4px; 
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
 border: 1px solid #ccc;}
 #id_newtag-tag:focus {
 border-color: #66afe9;
 outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}}
 .deleteform{
 display:inline;}
 .form-control {
 margin-top: 5px;}
 .taskinput:focus, .projectinput:focus, .sprintinput:focus, .commentbox:focus, {
 border-color: #66afe9;
 outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
 .searchtag:focus{
 outline: none;}
 #searchbox{
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;}
 #searchbox:focus{
 border-radius: 4px;}
 #searchbutton {
 margin-top:5px;
 margin-left: -3px;}
 .searchbtns{
 border: 1px solid #ccc;
 border-left: 0px;
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
 z-index:1;}
 #searchtagbtn{
 margin-left: -8px;
 margin-top: -3px;}
 .searchbtns:hover{
 background-color: #fff;
 outline: 0;}
 .badge-notify{
 background-color: #ec555b;
 position:relative;
 top: -10px;
 left: -10px;
 padding: 3px 4px;}
 .fpbtn{
 cursor: pointer;}
 .fpbtn:hover,.fpbtn:active, .fpbtn:focus{
 color: #fff;
 text-decoration: none;}
 .project-nav{
 padding-left: 3%;}
 @media (max-width: 991px) {
 .navbar-header {
 float: none;}
 .navbar-left,.navbar-right {
 float: none !important;}
 .navbar-toggle {
 display: block;}
 .navbar-collapse {
 border-top: 1px solid transparent;
 box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
 .navbar-fixed-top {
 top: 0;
 border-width: 0 0 1px;}
 .navbar-collapse.collapse {
 display: none!important;}
 .navbar-nav {
 float: none!important;
 margin-top: 7.5px;}
 .navbar-nav>li {
 float: none;}
 .navbar-nav>li>a {
 padding-top: 10px;
 padding-bottom: 10px;}
 .collapse.in{
 display:block !important;}}
 .collapse .in {background-color: #f7f7f7;}
 .collapse .in ul li a, .in ul li a {
 color: #555!important;
 border-bottom: 0px !important;}
 .collapse .in ul li a:hover, .in ul li a:hover {}}