{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<title> {% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'sfg/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'sfg/style.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<script src="{% static 'sfg/js/jquery-3.2.0.min.js' %}"></script>
	<script src="{% static 'sfg/js/bootstrap.min.js' %}"></script>
</head>
<body> 
	{% block content %}{% endblock %}
</body>
</html>